*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
.sideBar{
    background-color: #25252e;
    ul{
        margin: 0;
        padding: 0;
        list-style: none;
        li{
            list-style: none;
            margin: 0;
            padding: 10px;
            text-align: center;
            font-size: 25px;
            font-family: "DM San";
            margin-top: 10px;
            transition: 0.3s ease-in-out;
            cursor: pointer;
            span{
                display: block; 
                text-decoration: none;
                color: #fff;
                background-color: red;
                border-radius: 10px;
                padding: 10px 100px;
                transition: 0.3s ease-in-out;
                cursor: pointer;
                &:hover{
                   background-color: transparent;
                   color: white;
                }
            }
           
        }
     
       
        
    }
}

// Small devices (landscape phones, 576px and up)
@media (max-width: 576px) {
    .sideBar{
        position: relative;
        height: 80vh;
    }
}
  
// Medium devices (tablets, 768px and up)
@media(min-width: 576px) and (max-width: 768px) {
    .sideBar{
        position: relative;
        height: 60vh;
        ul{
            .product{
                a{
                    padding: 10px 300px;
                }
            }
            .category{
                a{
                    padding: 10px 300px;
                }
            }
            .blog{
                a{
                    padding: 10px 320px;
                }
            }
            .order{
                a{
                    padding: 10px 310px;
                }
            }
            .brand{
                a{
                    padding: 10px 305px;
                }
            }
            .comment{
                a{
                    padding: 10px 292px;
                }
            }
            .logout{
                a{
                    padding: 10px 300px;
                }
            }
        }
    }
}
  
  // Large devices (desktops, 992px and up)
  @media(min-width: 768px) and (max-width: 992px) {
    .sideBar{
        position: relative;
        height: 60vh;
        ul{
            .product{
                a{
                    padding: 10px 300px;
                }
            }
            .category{
                a{
                    padding: 10px 300px;
                }
            }
            .blog{
                a{
                    padding: 10px 320px;
                }
            }
            .order{
                a{
                    padding: 10px 310px;
                }
            }
            .brand{
                a{
                    padding: 10px 305px;
                }
            }
            .comment{
                a{
                    padding: 10px 292px;
                }
            }
            .logout{
                a{
                    padding: 10px 300px;
                }
            }
        }
    }
  }
  
  // Extra large devices (large desktops, 1200px and up)
  @media (max-width: 1200px) {}